table, th, tr{
    border-collapse: collapse;
}
th{
    background-color: #90B4D6;
    color: whitesmoke;
    text-shadow:2px 1px grey;
}
td{
    padding: 10px;
}

tr:nth-child(odd){
    background-color: #dce9f5;
}

tr:nth-child(even){
    background-color: #e0e9ef;
}

.firstColumn{
    color: rgb(62, 61, 61);
    font-weight: bold;
}

legend{
    font-size: 20px;
}

.form input{
    float: right;
}

.btn{
    background-color: rgb(40, 156, 100);
    color: aliceblue;
    border-radius: 5px;
    float: right;
    height: 30px;
    border-color:  rgb(40, 156, 100);
}